.card {
  border: 0;
  width: 11rem !important;
  position: relative;
  cursor: pointer;
  border-radius: 0.25rem;
  .img {
    position: relative;
    div {
      background-color: #252b33;
      position: relative;
      width: 11rem;
      height: 7rem;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &:hover {
        opacity: 1;
        background-color: rgb(37, 43, 51, 0.7);
      }
    }
    img {
      height: 7rem;
      object-fit: cover;
    }
    a {
      position: absolute;
      background-color: #15af44;
      padding: 0.2rem 0.4rem;
      width: 8rem;
      border: none;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    span {
      position: absolute;
      top: 10%;
      left: 10%;
      color: white;
    }
    .new {
      font-size: 0.6rem;
      padding: 0.1rem 0.2rem;
      border-radius: 10%;
      background-color: #15af44;
      color: #fff;
      &:hover {
        display: none;
      }
    }
  }
  .card-body {
    height: 1rem;
    background-color: #252b33;
    color: white;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }
}
