<div class="container">
  <nav>
    <ul>
      <li routerLinkActive="router-link-active" >
        <img src="assets/cb logo.png" alt="crocobet logo" class="main-logo">
      </li>
      <li>
        <img src="assets/sport.png" alt="sport logo">
      </li>
      <li>
        <img src="assets/live.png" alt="live logo">
      </li>
      <li  class="active">
        <img src="assets/slots.png" alt="slots logo">
      </li>
      <li>
        <img src="assets/casino.png" alt="casino logo">
      </li>
    </ul>
  </nav>
</div>
