.wrapper {
  width: 100%;
  display: flex;
  div {
    width: 100%;
    div {
      display: flex;
      flex-direction: column;
      .spinner {
        width: 2rem;
        display: block;
        margin: 2rem auto;
      }
      .alert {
        width: 90%;
        margin: 1rem auto;
      }
    }
  }

}
